{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1>Device <small>{{ device }}</small></h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-caret-square-o-down"></i> Device</li>
                    <li class="active"><i class="fa fa-hdd-o"></i> {{ device }}</li>
                </ol>
                {% include 'message.html' %}

                <div class="row">
                  <div class="col-lg-12">
                    <span class="label label-success">Power status: ON</span>
                    <h2>Status</h2>
                  </div>
                  <div class="col-lg-12">
                  </div>
                  <div class="col-lg-3">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col-xs-6">
                            <i class="fa fa-flask fa-5x"></i>
                          </div>
                          <div class="col-xs-6 text-right">
                            <p class="announcement-heading">5.0%</p>
                            <p class="announcement-text">CO<sub>2</sub></p>
                          </div>
                        </div>
                      </div>
                      <a href="" onclick="setCO2(); return false;">
                        <div class="panel-footer announcement-bottom">
                          <div class="row">
                            <div class="col-xs-6">
                              Setting
                            </div>
                            <div class="col-xs-6 text-right">
                              <i class="fa fa-arrow-circle-right"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="panel panel-warning">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col-xs-6">
                            <i class="fa fa-asterisk fa-5x"></i>
                          </div>
                          <div class="col-xs-6 text-right">
                            <p class="announcement-heading">21.0%</p>
                            <p class="announcement-text">O<sub>2</sub></p>
                          </div>
                        </div>
                      </div>
                      <a href="" onclick="setO2(); return false;">
                        <div class="panel-footer announcement-bottom">
                          <div class="row">
                            <div class="col-xs-6">
                              Setting
                            </div>
                            <div class="col-xs-6 text-right">
                              <i class="fa fa-arrow-circle-right"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="panel panel-danger">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col-xs-6">
                            <i class="fa fa-sun-o fa-5x"></i>
                          </div>
                          <div class="col-xs-6 text-right">
                            <p class="announcement-heading">25.1</p>
                            <p class="announcement-text">Temperature</p>
                          </div>
                        </div>
                      </div>
                      <a href="" onclick="setTemperature(); return false;">
                        <div class="panel-footer announcement-bottom">
                          <div class="row">
                            <div class="col-xs-6">
                              Setting
                            </div>
                            <div class="col-xs-6 text-right">
                              <i class="fa fa-arrow-circle-right"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col-xs-6">
                            <i class="fa fa-tint fa-5x"></i>
                          </div>
                          <div class="col-xs-6 text-right">
                            <p class="announcement-heading">40%</p>
                            <p class="announcement-text">Humidity</p>
                          </div>
                        </div>
                      </div>
                      <a href="" onclick="setHumidity(); return false;">
                        <div class="panel-footer announcement-bottom">
                          <div class="row">
                            <div class="col-xs-6">
                              Setting
                            </div>
                            <div class="col-xs-6 text-right">
                              <i class="fa fa-arrow-circle-right"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Logs</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped tablesorter">
                                <thead>
                                <tr>
                                    <th class="header col-lg-2">Time <i class="fa fa-sort"></i></th>
                                    <th class="header">Log <i class="fa fa-sort"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>2014-06-11 14:36</td>
                                    <td>장비 문 닫힘</td>
                                </tr>
                                <tr>
                                    <td>2014-06-11 14:34</td>
                                    <td>O2 농도 설정 (21.3%)</td>
                                </tr>
                                <tr>
                                    <td>2014-06-11 14:31</td>
                                    <td>온도 설정 (25.3)</td>
                                </tr>
                                <tr>
                                    <td>2014-06-11 14:25</td>
                                    <td>장비 문 열림</td>
                                </tr>
                                <tr>
                                    <td>2014-06-11 14:20</td>
                                    <td>O2 농도 설정 (5.0%)</td>
                                </tr>
                                <tr>
                                    <td>2014-06-11 14:11</td>
                                    <td>장비 ON</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Requests</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th class="header col-lg-2">Time </th>
                                    <th class="header col-lg-3">Request </th>
                                    <th class="header">Value </th>
                                    <th class="header col-lg-1">Cancel </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>2014-06-11 14:34</td>
                                    <td>Set O2</td>
                                    <td>21.3</td>
                                    <td>X</td>
                                </tr>
                                <tr>
                                    <td>2014-06-11 14:31</td>
                                    <td>Set Temperature</td>
                                    <td>25.3</td>
                                    <td>X</td>
                                </tr>
                                <tr>
                                    <td>2014-06-11 14:20</td>
                                    <td>Set CO2</td>
                                    <td>5.0</td>
                                    <td>X</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
<script>
    function setCO2(default_value) {
        alertify.prompt("Enter CO<sub>2</sub> value you want to set", function (e, str) {
            if (e) {
                // user clicked "ok"
            }
        }, default_value);
    }
    function setO2(default_value) {
        alertify.prompt("Enter O<sub>2</sub> value you want to set", function (e, str) {
            if (e) {
                // user clicked "ok"
            }
        }, default_value);
    }
    function setTemperature(default_value) {
        alertify.prompt("Enter temperature value you want to set", function (e, str) {
            // str is the input text
            if (e) {
                // user clicked "ok"
            }
        }, default_value);
    }
    function setHumidity(default_value) {
        alertify.prompt("Enter humidity value you want to set", function (e, str) {
            // str is the input text
            if (e) {
                // user clicked "ok"
            }
        }, default_value);
    }
</script>
    </div><!-- /#page-wrapper -->
{% endblock %}

{% block plugin %}
    <script src="{{ STATIC_URL }}js/tablesorter/jquery.tablesorter.js"></script>
    <script src="{{ STATIC_URL }}js/tablesorter/tables.js"></script>
    <script src="{{ STATIC_URL }}js/alertify.min.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/alertify.core.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/alertify.default.css" />
{% endblock %}