{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1>Device <small>{{ device }}</small></h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-caret-square-o-down"></i> Device</li>
                    <li class="active"><i class="fa fa-hdd-o"></i> {{ device }}</li>
                </ol>
                {% include 'message.html' %}

                <div class="row">
                  <div class="col-lg-12">
                    {% if status.power == True %}
                    <span class="label label-success">Power status: ON</span>
                    {% elif status.power == False %}
                    <span class="label label-danger">Power status: OFF</span>
                    {% else %}
                    <span class="label label-warning">Power status: Unknown</span>
                    {% endif %}
                    <h2>Status</h2>
                  </div>
                  <div class="col-lg-12">
                  </div>
                  <div class="col-lg-3">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col-xs-6">
                            <i class="fa fa-flask fa-5x"></i>
                          </div>
                          <div class="col-xs-6 text-right">
                            <p class="announcement-heading">{{ status.co2|floatformat:1 }}%</p>
                            <p class="announcement-text">CO<sub>2</sub></p>
                          </div>
                        </div>
                      </div>
                      <a href="" onclick="setCO2(); return false;">
                        <div class="panel-footer announcement-bottom">
                          <div class="row">
                            <div class="col-xs-6">
                              Setting
                            </div>
                            <div class="col-xs-6 text-right">
                              <i class="fa fa-arrow-circle-right"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="panel panel-warning">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col-xs-6">
                            <i class="fa fa-asterisk fa-5x"></i>
                          </div>
                          <div class="col-xs-6 text-right">
                            <p class="announcement-heading">{{ status.o2|floatformat:1 }}%</p>
                            <p class="announcement-text">O<sub>2</sub></p>
                          </div>
                        </div>
                      </div>
                      <a href="" onclick="setO2(); return false;">
                        <div class="panel-footer announcement-bottom">
                          <div class="row">
                            <div class="col-xs-6">
                              Setting
                            </div>
                            <div class="col-xs-6 text-right">
                              <i class="fa fa-arrow-circle-right"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="panel panel-danger">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col-xs-6">
                            <i class="fa fa-sun-o fa-5x"></i>
                          </div>
                          <div class="col-xs-6 text-right">
                            <p class="announcement-heading">{{ status.temperature|floatformat:1 }}&deg;c</p>
                            <p class="announcement-text">Temperature</p>
                          </div>
                        </div>
                      </div>
                      <a href="" onclick="setTemperature(); return false;">
                        <div class="panel-footer announcement-bottom">
                          <div class="row">
                            <div class="col-xs-6">
                              Setting
                            </div>
                            <div class="col-xs-6 text-right">
                              <i class="fa fa-arrow-circle-right"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col-xs-6">
                            <i class="fa fa-tint fa-5x"></i>
                          </div>
                          <div class="col-xs-6 text-right">
                            <p class="announcement-heading">{{ status.humidity|floatformat:1 }}%</p>
                            <p class="announcement-text">Humidity</p>
                          </div>
                        </div>
                      </div>
                      <a href="" onclick="setHumidity(); return false;">
                        <div class="panel-footer announcement-bottom">
                          <div class="row">
                            <div class="col-xs-6">
                              Setting
                            </div>
                            <div class="col-xs-6 text-right">
                              <i class="fa fa-arrow-circle-right"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Requests</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th class="header col-lg-2">Time </th>
                                    <th class="header col-lg-3">Request </th>
                                    <th class="header">Value </th>
                                    <th class="header col-lg-1">Cancel </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for r in requests %}
                                <tr>
                                    <td>{{ r.req_time|date:'Y-m-d H:i:s' }}</td>
                                    <td>{{ r.request }}</td>
                                    <td>{{ r.value }}</td>
                                    <td><button id="{{ r.pk }}" type="button" class="btn btn-default btn-sm" onclick="deleteRequest(this.id);"><span class="fa fa-trash-o"></span></button></td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">Sorry, no request data of this device.</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Logs</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th class="header col-lg-2">Time </th>
                                    <th class="header">Log </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for l in logs %}
                                <tr>
                                    <td>{{ l.log_time|date:'Y-m-d H:i:s' }}</td>
                                    <td>{{ l.log }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="2">Sorry, no log data of this device.</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h2></h2>
                        <button type="button" class="btn btn-danger btn-xs" onclick="deleteDevice()">Delete this device</button>
                    </div>
                </div>
                <!-- /.row -->
<script>
    var REQUEST_API_URL = "/api/request/";
    var DEVICE_API_URL = "/api/device/";
    function validateValue(value, min, max) {
        var float= /^\s*(\+|-)?((\d+(\.\d+)?)|(\.\d+))\s*$/;
        if (!float.test(value)) {
            alert("Value must be float or int.");
            return false;
        }
        if (!(value >= min && value <= max)) {
            alert("Value should be more than "+min+" and less than "+max+".");
            return false;
        }
        return true;
    }
    function setCO2(default_value) {
        alertify.prompt("Enter CO<sub>2</sub> value you want to set", function (e, str) {
            if (e) {
                if (!validateValue(str, 0, 100)) return false;

                var value = str;
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: REQUEST_API_URL,
                    data: '{"device_id": "{{ device }}", "request": "SET CO2", "value": "'+value+'"}',
                    success: function(response) {
                        if (response.status == '200') {
                            alert("Your request has been sent successfully.");
                            location.reload();
                        } else {
                            alert("Your request failed to complete.");
                        }
                    }
                });
            }
        }, default_value);
    }
    function setO2(default_value) {
        alertify.prompt("Enter O<sub>2</sub> value you want to set", function (e, str) {
            if (e) {
                if (!validateValue(str, 0, 100)) return false;

                var value = str;
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: REQUEST_API_URL,
                    data: '{"device_id": "{{ device }}", "request": "SET O2", "value": "' + value + '"}',
                    success: function(response) {
                        if (response.status == '200') {
                            alert("Your request has been sent successfully.");
                            location.reload();
                        } else {
                            alert("Your request failed to complete.");
                        }
                    }
                });
            }
        }, default_value);
    }
    function setTemperature(default_value) {
        alertify.prompt("Enter temperature value you want to set", function (e, str) {
            if (e) {
                if (!validateValue(str, -100, 100)) return false;

                var value = str;
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: REQUEST_API_URL,
                    data: '{"device_id": "{{ device }}", "request": "SET TEMPERATURE", "value": "'+value+'"}',
                    success: function(response) {
                        if (response.status == '200') {
                            alert("Your request has been sent successfully.");
                            location.reload();
                        } else {
                            alert("Your request failed to complete.");
                        }
                    }
                });
            }
        }, default_value);
    }
    function setHumidity(default_value) {
        alertify.prompt("Enter humidity value you want to set", function (e, str) {
            if (e) {
                if (!validateValue(str, 0, 100)) return false;

                var value = str;
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: REQUEST_API_URL,
                    data: '{"device_id": "{{ device }}", "request": "SET HUMIDITY", "value": "'+value+'"}',
                    success: function(response) {
                        if (response.status == '200') {
                            alert("Your request has been sent successfully.");
                            location.reload();
                        } else {
                            alert("Your request failed to complete.");
                        }
                    }
                });
            }
        }, default_value);
    }
    function deleteRequest(id) {
        alertify.confirm("<h4>Are you ABSOLUTELY sure?</h4>", function (e) {
            if (e) {
                var intRegex = /^\d+$/;
                if(!intRegex.test(id)) {
                    alert("Your request failed to complete.");
                    return false;
                }

                $.ajax({
                    dataType: "json",
                    type: "DELETE",
                    url: REQUEST_API_URL,
                    data: '{"device_id": "{{ device }}", "request_id": "'+id+'"}',
                    success: function(response) {
                        if (response.status == '200') {
                            alert("Your request has been sent successfully.");
                            location.reload();
                        } else {
                            alert("Your request failed to complete.");
                        }
                    }
                });
            }
        });
    }
    function deleteDevice() {
        alertify.prompt("<h4>Are you ABSOLUTELY sure?</h4><br/>Please type in the name of the device to confirm.", function (e, str) {
            if (e && str==='{{ device }}') {
                $.ajax({
                    dataType: "json",
                    type: "DELETE",
                    url: DEVICE_API_URL,
                    data: '{"device_id": "{{ device }}"}',
                    success: function(response) {
                        if (response.status == '200') {
                            alert("Your request has been sent successfully.");
                            location.href = "/dashboard/";
                        } else {
                            alert("Your request failed to complete.");
                        }
                    }
                });
            }
        });
    }
</script>
    </div><!-- /#page-wrapper -->
{% endblock %}

{% block plugin %}
    <script src="{{ STATIC_URL }}js/alertify.min.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/alertify.core.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/alertify.default.css" />
{% endblock %}
