{% load device_tag %}
{% block devices %}
    {% if user|is_display_devices_menu %}
            <li class="dropdown open">
              <a href="#" class="dropdown-toggle"><i class="fa fa-caret-square-o-down"></i> My Devices <b class="caret"></b></a>
              <ul class="dropdown-menu">
              {% for device in user|get_my_devices %}
                <li><a href="/device/{{ device.device_id }}"><i class="fa fa-hdd-o"></i> {{ device.device_id }}</a></li>
              {% endfor %}
              </ul>
            </li>
    {% endif %}
{% endblock %}